$rosa-fuerte: #FF5C8D; 
$rosa-claro: #FFC0D3;
$gris-oscuro: #524A4E;
$bordo: #B8405E;

header{
    background-color: $rosa-fuerte;
    .header__search{
            .btn{
                background-color: $rosa-claro;
                color: $gris-oscuro;
                border-color: $gris-oscuro;
            }
    }
    .navbar{
        background-color: $rosa-claro !important;
        div{
            ul{
                li{
                    background-color: transparent;
                    transition: all 1s;
                    a{
                        color: #524A4E !important;
                    }  
                }
                li:hover{
                    background-color: $rosa-fuerte;
                }
                .grid-menu-dropdown{ 
                    li{
                        transition: all 1s;
                    }
                    li:hover{
                        background-color: rgba(255, 92, 141, 0.2);
                    }
                 }
            }
        }
    }
    
}

main{
    .fondo_receta_destacada{
        .card_receta_destacada{
            background-color: #FFF;
            box-shadow: 0px 0px 42px 17px rgba(0,0,0,0.37);
            -webkit-box-shadow: 0px 0px 42px 17px rgba(0,0,0,0.37);
            -moz-box-shadow: 0px 0px 42px 17px rgba(0,0,0,0.37);
            .cuerpo_card{
                .categoria_card{
                    color: $gris-oscuro;
                }
                .titulo_card{
                    a{
                        color: $bordo;
                    }
                     
                }
            }
        
        }
    }
    .grid-lista-recetas{
        .card{
            .card-body{
                .card-title{
                    color: $bordo;
                }
                .btn{
                    background-color: $rosa-claro;
                    border: $rosa-fuerte solid 1px;
                    color: $gris-oscuro;
                    transition: all 1s;
                }
                .btn:hover{
                    background-color: rgba(255, 192, 211, 0.5);
                }
            }
        }
    }

    .newsletter{
        background-color: $bordo;
        h2{
            color: #FFF;
        }
        .btn{
            background-color: $rosa-claro;
            color: $gris-oscuro;
            transition: all 1s;
        }
        .btn:hover{
            background-color: rgba(255, 192, 211, 0.7);
        }
    }
}

footer{
    p{
        color: $gris-oscuro;
        a{
            color: $gris-oscuro;
        }
    }
}
