@import "maps";

.grid-index-body{
    .grid-index-header{
        background-color: map-get($colores, rosa-fuerte);

        a{
            color: map-get($colores, negro);
        }

        .header__search{
                .btn{
                    background-color: map-get($colores, rosa-claro);
                    color: map-get($colores, gris-oscuro);
                    border-color: map-get($colores, gris-oscuro);
                }
        }
        .navbar{
            background-color: map-get($colores, rosa-claro)  !important;
            div{
                ul{
                    li{
                        background-color: transparent;
                        transition: all 1s;
                        a{
                            color: map-get($colores, gris-oscuro) !important;
                        }  
                    }
                    li:hover{
                        background-color: map-get($colores, rosa-fuerte);
                    }
                    .grid-menu-dropdown{ 
                        li{
                            transition: all 1s;
                        }
                        li:hover{
                            background-color: map-get($colores, rosa-alfa-1);
                        }
                    }
                }
            }
        }
        
    }

    main{
        .fondo_receta_destacada{
            .card_receta_destacada{
                background-color: map-get($colores, blanco);
                box-shadow: 0px 0px 42px 17px rgba(0,0,0,0.37);
                -webkit-box-shadow: 0px 0px 42px 17px rgba(0,0,0,0.37);
                -moz-box-shadow: 0px 0px 42px 17px rgba(0,0,0,0.37);
                .cuerpo_card{
                    .categoria_card{
                        color: map-get($colores, gris-oscuro);
                    }
                    .titulo_card{
                        a{
                            color: map-get($colores, bordo);
                        }
                        
                    }
                }
            
            }
        }
        .grid-lista-recetas{
            .card{
                .card-body{
                    .card-title{
                        color: map-get($colores, bordo);
                    }
                    .btn{
                        background-color: map-get($colores, rosa-claro);
                        border: map-get($colores, rosa-fuerte) solid 1px;
                        color: map-get($colores, gris-oscuro);
                        transition: all 1s;
                    }
                    .btn:hover{
                        background-color: map-get($colores, rosa-alfa-2);
                    }
                }
            }
        }

        .newsletter{
            background-color: map-get($colores, bordo);
            h2{
                color: map-get($colores, blanco);
            }
            .btn{
                background-color: map-get($colores, rosa-claro);
                color: map-get($colores, gris-oscuro);
                transition: all 1s;
            }
            .btn:hover{
                background-color: map-get($colores, rosa-alfa-2);
            }
        }
    }

    footer{
        p{
            color: map-get($colores, gris-oscuro);
            a{
                color: map-get($colores, gris-oscuro);
            }
        }
        .redesSociales{
            @each $red, $fondo in $redesSociales {
                .btn-#{$red}{
                    background: $fondo;
                    color: map-get($colores, blanco);
                }
            }
        }
    }
}

/*** POSTRES Y DULCES ***/

.grid-categoria-body{
    .grid-categoria-main{
        .titulo__principal-postres{
            color: map-get($colores, bordo);
        }
        .subtitulo__principal-postres{
            color: map-get($colores, gris-claro);
        }
        .card-destacada{
            border: 2px solid map-get($colores, dorado );
            box-shadow: 0 0 20px map-get($colores, dorado );
        }
        .card{
            .card-cuerpo{
                .card-titulo{
                    color: map-get($colores, bordo );
                }
                a{
                    color: map-get($redesSociales, facebook );
                    background-color: rgba(0, 170, 228, 0.2);
                    border-radius: 5px;
                }
            }
        }
        .card-etiqueta{

            background-color: rgba(201, 201, 201,0.3);

            .card-etiqueta-titulo{
                color: map-get($colores, gris-oscuro);
            }
            .card-etiquetas-container{
                a{
                    background-color: map-get($colores, blanco );
                    color: map-get($colores, marron );
                    border: 1px solid map-get($colores, marron );
                    border-radius: 5px;
                    transition: all 1s;
                }
                a:first-child{
                    margin-left: 0;
                }
                a:hover{
                    background-color: rgba(128, 64, 0, 0.2);
                }
            }

        }
    }

    .grid-postres-aside{
        .div__recetasPopulares-container{
            .recetas-populares-titulo{
                color: map-get($colores, gris-oscuro );
            }
            .grid-receta-popular{
                .receta-popular{
                    a{
                        .receta-popular-titulo{
                            color: map-get($colores, marron);
                        }
                    }
                }
            }
        }
        .card-etiqueta{

            background-color: rgba(201, 201, 201,0.3);

            .card-etiqueta-titulo{
                color: map-get($colores, gris-oscuro);
            }
            .card-etiquetas-container{
                a{
                    background-color: map-get($colores, blanco );
                    color: map-get($colores, naranja );
                    border: 1px solid map-get($colores, najanja );
                    border-radius: 5px;
                    transition: all 1s;
                }
                a:first-child{
                    margin-left: 0;
                }
                a:hover{
                    background-color: rgba(255, 128, 0, 0.1);
                }
            }

        }
        .newsletter{
            background-color: map-get($colores, bordo);
            h2{
                color: map-get($colores, blanco);
            }
            .btn{
                background-color: map-get($colores, rosa-claro);
                color: map-get($colores, gris-oscuro);
                transition: all 1s;
            }
            .btn:hover{
                background-color: map-get($colores, rosa-alfa-2);
            }
        }
    }
}