@import "mixins";

.grid-index-body{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-columns: 100vw;
    grid-template-rows: auto auto auto;
    overflow-x: hidden;
    position: relative;
    .grid-index-header{
        grid-area: header;
        width: 100vw;
        a{
            text-decoration: none;
            .header__logo{
                display: inline-flex;
                width: 25%;
                .header__logo__container{
                    min-width: 60px;
                    width: 15%;
                    margin-top: 20px;
                    margin-left: 30px;
                }
                .header__logo__titulo{
                    min-width: 300px;
                }
            }
        }
        .header__search{
            width: 72%;
            display: inline-flex;
            justify-content: end;
            input{
                width: 25%;
                min-width: 200px;
            }
            input:nth-child(2){
                display: none;
            }
            .btn{
                border-radius: 50%;
            }
        }
        .navbar{
            div{
                ul{
                    li{
                        width: fit-content;
                        margin-left: 2em;
                        border-radius: 5px;
                        text-align: center;
                        .dropdown-menu{
                            width: 400%;
                            .grid-menu-dropdown{
                            width: 100%; 
                            display: grid;
                            grid-template-columns: 42.5% 42.5%;
                            grid-column-gap: 5%;
                            grid-row-gap: 10px; 
                                li{
                                    padding: 0 5px;
                                    line-height: 50px;
                                    margin-left: 35px;
                                    text-align: start;
                                    width: 100% !important;
                                    display: flex;
                                    justify-content: space-between;
                                    a{
                                        text-decoration: none;
                                    }
                                    div{
                                        width: fit-content;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .grid-index-main{
        grid-area: main;
    }

    .grid-index-main{
        position: relative;
        .marco{
            width: 100%;
            height: 80vh;
            position: absolute;
            .btn-inicio-sesion{
                z-index: 1;
                position: fixed;
                bottom: 0;
                right: 0;
                margin-right: 10px;
                margin-bottom: 40px;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 1s ease;
            }
            .btn-inicio-sesion:hover{
                transform: scale(1.05);
            }
        }
        
        .fondo_receta_destacada{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            background-image: url(../imagenes/fondo-cocina.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            .card_receta_destacada{
                z-index: 0;
                display: grid;
                grid-template-columns: 45% 50%;
                grid-template-rows: auto;
                grid-column-gap: 5%;
                width: 70%;
                height: 90%;
                margin: 30px 0;
                .cuerpo_card{
                    .categoria_card{
                        display: inline-block;
                        margin-top: 20px;
                        margin-left: 20px;
                        text-decoration: none;
                    }
                    .titulo_card{
                        margin-left: 30px;
                        a{
                            text-decoration: none;
                        }
                    }
                    p{
                        width: 100%;
                        margin-left: 30px;  
                    }
                    .descripcion{
                        text-align: justify;
                    }
                }
                .img-container{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 30px;
                    .img_tarta_kiwi_container{
                        width: 100%;
                        height: fit-content;
                        overflow: hidden;
                        img{
                            width: 100%;
                            transition: all 0.5s ease;
                        }
                    }
                } 
            }
            .card_receta_destacada:hover{
                .img_tarta_kiwi_container{
                    img{
                        transform: scale(1.1);
                    }
                }
            }
        }
        .grid-lista-recetas{
            display: grid;
            grid-template-columns: 20% 20% 20% 20%;
            grid-template-rows: auto;
            grid-gap: 3vh 5%;
            margin-left: 5%;
            margin-top:  5vh;
            .card{
                .img-container{
                    overflow: hidden;
                    img{
                        width: 100%;
                        transition: all 0.5s ease;
                    }
                }
                .card-body{
                    .card-text{
                        .bi-star-fill{
                            margin-right: 5px;
                        }
                    }
                    .btn{
                        transition: all 0.5s ease;
                    }
                    .btn:hover{
                        transform: scale(1.05);
                    }
                }
            }
            .card:hover{
                img{
                    transform: scale(1.1);
                }
            }
        }
        .newsletter{
            display: flex;
            margin-top: 3vh;
            padding: 1em;
            justify-content: center;
            h2{
                line-height: 1em;
            }
            .btn{
                margin-left: 2em;
                padding: 0;
                padding-left: 2em;
                padding-right: 2em;
                transition: all 0.5s ease;
            }
            .btn:hover{
                transform: scale(1.05);
            }
        }
    }

    .grid-index-footer{
        grid-area: footer;
    }

    footer{
        margin-top: 2vh;
        p{
            display: block;
            text-align: center;
            a{
                text-decoration: none;
                margin: 0 0.5em;
            }
        }
        div{
            margin-bottom: 1em;
        }
        .redesSociales{
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                @extend .redesSociales;
                @include sizes(80px, 80px);
                border-radius: 50%;
                margin: 0 1vw;
                transition: all 0.5s ease;
            }
            a:hover{
                transform: scale(1.1);
            }
        }
    }
}

/*** CATEGORIAS ***/

.grid-categoria-body{
    width: 100%;
    display: grid;
    grid-template-areas: 
    "header header"
    "main aside"
    "footer footer";
    grid-template-columns: 65% 30%;
    grid-column-gap: 5%;
    grid-template-rows: auto auto auto;
    overflow-x: hidden;
    .grid-categoria-main{
        margin-left: 10%;
        .descripcion__principal-postres{
            width: 90%;
            margin: 5vh auto;
            text-align: justify;
        }
        .card{
            width: 100%;
            display: grid;
            grid-template-columns: 34% 55%;
            grid-template-rows: auto;
            grid-column-gap: 2%;
            .img-container{
                display: flex;
                justify-content: center;
                align-items: center;
                .card-img{
                    width: 100%;
                    height: fit-content;
                    overflow: hidden;
                    img{
                        width: 100%;
                        transition: all 0.5s ease;
                    }
                }
            }
            .card-cuerpo{
                a{
                    text-decoration: none;
                }
                .card-descripcion{
                    text-align: justify;
                }
                .card-etiquetas{
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 10px;
                    a{
                        padding: 5px 10px;
                        text-decoration: none;
                        margin-right: 10px;
                        margin-top: 5px;
                    }
                }
                
            }
        }
        .card:hover{
            .card-img{
                img{
                    transform: scale(1.2);
                }
            }
        }
        .card-etiqueta{
            width: 100%;
            border-radius: 10px;
            .card-etiqueta-titulo{
                margin-left: 5%;
                padding-top: 5vh;
            }
            .card-etiquetas-container{
                width: 90%;
                margin: auto;
                display: flex;
                flex-wrap: wrap;
                padding-bottom: 3vh;
                a{
                    margin-top: 10px;
                    margin-right: 10px;
                    padding: 5px 10px;
                    text-decoration: none;
                }
            }

        }
        .card-secundaria{
            margin-top: 3vh;
        }
    }
    .grid-postres-aside{
        width: 100%;
        .div__recetasPopulares-container{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .recetas-populares-titulo{
                text-align: center;
            }
            .grid-receta-popular{
                .receta-popular{
                    margin-top: 1vh;
                    width: 45%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    .receta-popular-img-container{
                        a{
                            img{
                                min-width: 100px;
                                width: 100%;
                                border-radius: 50%;
                            }
                        }
                    }
                    a{
                        text-decoration: none;
                        .receta-popular-titulo{
                            width: 200px;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }

        .card-etiqueta{
            width: 90%;
            border-radius: 10px;
            margin: auto;
            .card-etiqueta-titulo{
                margin-left: 5%;
                padding-top: 5vh;
            }
            .card-etiquetas-container{
                width: 90%;
                margin: auto;
                display: flex;
                flex-wrap: wrap;
                padding-bottom: 3vh;
                a{
                    margin-top: 10px;
                    margin-right: 10px;
                    padding: 5px 10px;
                    text-decoration: none;
                }
            }

        }

        .newsletter{
            width: 90%;
            display: flex;
            flex-direction: column;
            padding: 1em;
            justify-content: center;
            border-radius: 10px;
            margin: 3vh auto;
            h2{
                line-height: 1em;
                width: 90%;
                margin:auto;
                text-align: center;
            }
            .btn{
                margin: 1vh auto;
                width: 90%;
                padding: 0;
                padding-left: 2em;
                padding-right: 2em;
            }
        }

        .publicidades-container{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .publicidad-img-container{
                width: 300px;
                margin-top: 3vh;
                img{
                    width: 100%;
                }
            }
        }
    }
}

/*** MEMBRESIAS ***/

.grid-membresia-body{
    .grid-membresia-main{
        .presentacion-membresia{
            text-align: center;
        }
        .tabla-comparativa{
            width: 65%;
            margin: auto;
            margin-top: 5vh;
            .table{
                thead{
                    tr{
                        th{
                            text-align: center;
                        }
                    }
                }
                tbody{
                    th{
                        width: 250px;
                    }
                    td{
                        text-align: center;
                    }
                }
            }
        }
        .flex-membresias-container{
            width: 95%;
            margin: auto;
            margin-top: 5vh;
            .lbl-tap-menu{
                width: 600px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                position: relative;
                div{
                    height: 76px * 0.75;
                }
                label{
                    display: inline-block;
                    padding: 10px 20px;
                    z-index: 2;
                    cursor: pointer;
                }
            }
            .tap-conteiner{
                width: 100%;
                height: 65vh;
                position: relative;
                .marcado{
                    width: 200px;
                    height: 76px;
                    z-index: 1;
                    position: absolute;
                    left: 0;
                    top: -76px;
                    transition: all 1s ease;
                }
                .group-card-membresia{
                    margin-top: 3vh;
                    width: 65%;
                    min-width: 1250px;
                    display: flex;
                    justify-content: space-between;
                    position: absolute;
                    line-height: 1.8;
                    transition: all 0.6s ease;
                    opacity: 0;
                    visibility: hidden;
                    transform: scale(0.9);
                    .card-membresia{
                        min-width: 400px;
                        position: relative;
                        transition: all 1s ease;
                        h2{
                            text-align: center;
                            line-height: 0;
                        }
                        span{
                            display: block;
                            margin-left: 10%;
                            margin-top: 10px;
                        }
                        ul{
                            height: 200px;
                            list-style: none;
                            margin-top: 6vh;
                            li{
                                i{
                                    margin-right: 15px;
                                }
                            }
                        }
                        .btn-aplicar{
                            width: 100%;
                           a{
                                float: right;
                                margin-right: 20px;
                                margin-bottom: 20px;
                                text-decoration: none;
                                padding: 10px 20px;
                                transition: all 1s ease;
                            }
                            a:hover{
                                transform: scale(1.05);
                            } 
                        }
                    }
                    .card-membresia:hover{
                        transform: scale(1.05);
                    }
                }
                #radio1,#radio2,#radio3{
                    display: none;
                }
                #radio1:checked ~ .tab1,
                #radio2:checked ~ .tab2,
                #radio3:checked ~ .tab3{
                    opacity: 1;
                    visibility: visible;
                    transform: scale(1);
                }
                #radio1:checked ~ .marcado{
                    visibility: visible;
                    transform: translate(0px);
                }
                #radio2:checked ~ .marcado{
                    visibility: visible;
                    transform: translate(183px);
                }
                #radio3:checked ~ .marcado{
                    visibility: visible;
                    transform: translate(400px);
                }
            }
        }
    }
}

/*** TIENDA ***/
.grid-tienda-body{
    .grid-tienda-main{
        .articulos-destacados{
            .titulo-principal{
                width: 100%;
                text-align: center;
            }
            .flex-destacados{
                display: flex;
                justify-content: center;
                .card{
                    position: relative;
                    margin: 0 2.5%;
                    transition: all 1s ease;
                    .card-img{
                        width: 100%;
                        overflow: hidden;
                        img{
                            transition: all 1s ease;
                        }
                    }
                    .card-text{
                        display: inline-block;
                    }
                    .card-text-viejo{
                        text-decoration:line-through;
                    }
                    .card-text-nuevo{
                        margin-left: 10px;
                    }
                    .card-btn{
                        .btn{
                            float: right;
                            transition: all 1s ease;
                        }
                    }
                    
                    .etiqueta-oferta{
                        position: absolute;
                        top:0;
                        left:0;
                        padding: 10px 20px;
                        border-radius: 0px 0px 10px 0px;
                    }
                }
                .card:hover{
                    transform: scale(1.05);
                    .card-img{
                       img{
                        transform: scale(1.05);
                        } 
                    }
                    .card-btn{
                        .btn:hover{
                            transform: scale(1.05);
                        }
                    }
                }
            }
        }
        .articulos-principal{
            .titulo-catalogo{
                text-align: center;
            }
            .grid-tienda{
                display: grid;
                grid-template-columns: 25% 25% 25% 25%;
                .card{
                    margin: auto;
                    transition: all 1s ease;
                    .card-img{
                        width: 100%;
                        overflow: hidden;
                        img{
                            transition: all 1s ease;
                        }
                    }
                    .card-btn{
                        width: 100%;
                        .btn{
                            padding: 10px 20px;
                            float: right;
                            transition: all 1s ease;
                        }
                    }
                }
                .card:hover{
                    transform: scale(1.05);
                    .card-img{
                        img{
                            transform: scale(1.05);
                        }
                    }
                    .card-btn{
                        .btn:hover{
                            transform: scale(1.05);
                        }
                    }
                }
            }
        }
    }
}

/*** SOBRE MI ***/

.grid-sobremi-body{
    .grid-sobremi-main{
        .presentacion{
            .titulo-principal{
                text-align: center;
            }
            .body-presentacion{
                text-align: justify;
                border-radius: 10px;
                width: 80%;
                margin:auto;
                overflow: hidden;
                img{
                    float: right;
                    padding: 15px;
                    border-radius: 50%;
                }
                .text-presentacion{
                    padding: 20px;
                    border-radius: 10px;
                } 
            }          
        }
        .creaciones{
            .title-creaciones{
                text-align: center;
            }
            .flex-creaciones{
                width: 80%;
                margin: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                .img-creaciones{
                    display: inline-block;
                    margin: 0 10px;
                    overflow: hidden;
                    border-radius: 25%;
                    img{
                        width: 100%;
                        transition: all 1s ease;
                    }     
                }
                .img-creaciones:hover{
                    img{
                        transform: scale(1.05);
                    }
                }  
            }
        }

    }
}

/*** INICIO SESION ***/

.grid-inicio-sesion-body{
    .grid-inicio-sesion-main{
        width: 100%;
        .form-inicio-sesion{
            min-width: 350px;
            width: 25%;
            margin: auto;
            padding: 20px;
            .div-nombre-usuario{
                .input-nombre-usuario{
                    transition: all 1s ease;
                }
                .input-nombre-usuario:focus{
                    transform: scale(1.03);
                }
            }
            .div-contraseña{
                .input-contraseña{
                    transition: all 1s ease;
                }
                .input-contraseña:focus{
                    transform: scale(1.03);
                }
                .olvido-contraseña{
                    text-decoration: none;
                }
            }
            .div-inicio{
                width: 100%;
                .btn-iniciar{
                    margin-top: 15px;
                    padding: 10px 20px;
                    float: right;
                    border: none;
                    border-radius: 10px;
                    text-transform: uppercase;
                    transition: all 1s ease;
                }
                .btn-iniciar:hover{
                    transform: scale(1.05);
                }
            }

        }
    }
}


