$colores:(
    rosa-fuerte: #FF5C8D, 
    rosa-claro: #FFC0D3,
    rosa-alfa-1: rgba(255, 92, 141, 0.2),
    rosa-alfa-2: rgba(255, 192, 211, 0.5),
    gris-oscuro: #524A4E,
    gris-claro: #777,
    bordo: #B8405E,
    blanco: #FFF,
    negro: #000,
    dorado: #EFB810,
    marron: #804000,
    naranja: #FF8000
);

$redesSociales:(
    facebook: #3b5998,
    instragram: linear-gradient(45DEG,#405DE6,#5851DB,#833AB4,#C13584,#E1306C,#FD1D1D),
    whatsapp: #25d366
);
