@import "mixins";

@media (max-width: 1200px){
    .grid-index-body{
        .grid-index-main{
            .grid-lista-recetas{
                display: grid  ;
                grid-template-columns: 30% 30% 30%;
                grid-template-rows: auto;
                grid-gap: 3vh 2.5%;
                margin-left: 5%;
                margin-top:  5vh;
            }
            .newsletter{
                h2{
                    font-size: 1em;
                }
            }
        }
        footer{
            p{
                font-size: 1.2em;
            }
        }
    }

    /*** POSTRES DULCES ***/
    .grid-categoria-body{
        .grid-categoria-main{
            .card{
                .card-cuerpo{
                   .card-titulo{
                       font-size: 2em;
                   }
                   .card-predescripcion{
                       font-size: 1.5em;
                   }
                   .card-descripcion{
                       font-size: 1.2em;
                   }
                }
            }
            .card-etiqueta{
                .card-etiqueta-titulo{
                    font-size: 2em;
                }
            }
        }
        .grid-postres-aside{
            .card-etiqueta{
                .card-etiqueta-titulo{
                    font-size: 1.8em;
                }
            }
    
            .newsletter{
                h2{
                    font-size: 1.2em;
                }
                .btn{
                    font-weight: 600;
                    font-size: 1.2em;
                }
            }
        }
    }
}

@media (max-width: 992px){
    .grid-index-body{
        .grid-index-main{
            .fondo_receta_destacada{
                .card_receta_destacada{
                    display: grid  ;
                    grid-template-columns: 100%;
                    grid-template-rows: auto;
                    grid-column-gap: 5%;
                    width: 70%;
                    height: 90%;
                    margin: 30px 0;
                    padding-right: 15px;
                    .cuerpo_card{
                        .pre_descripcion{
                            width: 90%;
                        }
                        .descripcion{
                            width: 90%;
                        }
                    }
                }
            }
            .newsletter{
                h2{
                    font-size: 1em;
                }
                .btn{
                    margin-right: 1em;
                    padding-left: 1em;
                    padding-right: 1em;
                }
            }
        }
        footer{
            .redesSociales{
                a{
                    @include sizes(60px, 60px);
                    font-size: 0.8em;
                }
            }
        }
    }
    /*** POSTRES DULCES***/

    .grid-categoria-body{
        width: 100%;
        display: grid;
        grid-template-areas: 
        "header"
        "main"
        "aside"
        "footer";
        grid-template-columns: 90%;
        grid-template-rows: repeat(4,auto);
        overflow-x: hidden;
        .grid-categoria-main{
            margin-left: 10%;
        }
        .grid-postres-aside{
            margin-left: 5%;
            .div__recetasPopulares-container{
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: auto auto;
                .recetas-populares-titulo{
                    width: 100%;
                }
                .grid-receta-popular{
                    display: grid;
                    grid-template-columns: repeat(3,33%);
                    grid-template-rows: auto;
                    .receta-popular{
                        width: 33%;
                        margin: auto;
                    }
                }
            }
            .publicidades-container{
                flex-direction: row;
                justify-content: space-evenly;
            }
        }
        .grid-categoria-footer{
            margin-left: 5%;
        }
    }

}

@media (min-width: 769px) and (max-width: 992px){
    .grid-index-body{
        .grid-index-header{
            .navbar{
                font-size: 1em;
                div{
                    ul{
                        li{
                            width: 25%;
                            margin-left: 0.5em;
                            ul{
                                li{
                                    margin-left: 35px;  
                                    font-size: 1em;
                                }
                            }
                        }
                    }
                }
            }
        }
        .grid-index-footer{
            p{
                font-size: 1em;
            }
        }
    }
}

@media (min-width: 577px) and (max-width: 768px){
    .grid-index-body{
        .grid-index-header{
            .header__search{
                .btn{
                    margin-right: 0.5em;
                }
            }
            .navbar{
                font-size: 0.8em;
                div{
                    ul{
                        li{
                            width: 25%;
                            margin-left: 0.5em;
                            .dropdown-menu{
                                .grid-menu-dropdown{
                                    li{
                                        margin-left: 35px;
                                        font-size: 0.8em;  
                                    }
                                }
                            }
                        }   
                    }
                }
            }
        }

        .grid-index-main{
            .fondo_receta_destacada{
                .card_receta_destacada{
                    padding-right: 15px;
                    .cuerpo_card{
                        .pre_descripcion{
                            width: 85%;
                        }
                        .descripcion{
                            width: 85%;
                        }
                    }
                }
            }
            .grid-lista-recetas{
                display: grid  ;
                grid-template-columns: 40% 40%;
                grid-template-rows: auto;
                grid-gap: 3vh 5%;
                margin-left: 12.5%;
                margin-top: 5vh;
            }
            .newsletter{
                h2{
                    width: 50%;
                }
            }
        }

        .grid-index-footer{
            p{
                font-size: 0.8em;
            }
        }
    }
    /*** POSTRES Y DULCES ***/
    .grid-categoria-body{
        .grid-categoria-main{
            .card{
                display: flex;
                flex-direction: column;
                .card-cuerpo{
                    .card-titulo{
                        margin-left: 5%;
                    }
                    .card-predescripcion{
                        margin-left: 5%;
                    }
                    .card-descripcion{
                        margin-left: 5%;
                        width: 90%;
                    }
                    .card-etiquetas{
                        margin-left: 5%;
                    }
                }
            }
        }
        .grid-postres-aside{
            .div__recetasPopulares-container{
                .recetas-populares-titulo{
                }
                .grid-receta-popular{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
            .publicidades-container{
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

@media (max-width: 576px){
    .grid-index-body{
        .grid-index-header{
            a{
                .header__logo{
                    .header__logo__titulo{
                        font-size: 1.5em;
                        line-height: 2.2em;
                    }
                }
            }
            .header__search{
                .btn{
                    margin-right: 0.5em;
                }
                
            }
            .navbar{
                div{
                    ul{
                        margin-top: 10px;
                        li{
                            font-size: 0.8em;
                            a{
                                text-align: start;
                                display: block;
                                padding: 0;
                            }
                            .dropdown-menu{
                                width: fit-content;
                                #grid-menu-dropdow{
                                    width: fit-content;
                                    padding: 10px;
                                    display: flex;
                                    flex-direction: column;
                                    li{
                                        width: 100px;
                                        margin: 0; 
                                    }
                                }   
                            }
                        }
                    }
                }
            }
        }

        .grid-index-main{
            .fondo_receta_destacada{
                .card_receta_destacada{
                    padding-right: 15px;
                    .cuerpo_card{
                        .pre_descripcion{
                            width: 85%;
                        }
                        .descripcion{
                            width: 85%;
                        }
                    }
                    .img_tarta_kiwi_container{
                        img{
                            position: relative;
                            left: 7.5px;
                        }
                    }
                }
            }
            .grid-lista-recetas{
                display: grid  ;
                grid-template-columns: 80%;
                grid-template-rows: auto;
                grid-row-gap: 5vh;
                margin-left: 17.5%;
                margin-top:  5vh;
            }
            .newsletter{
                h2{
                    font-size: 0.8em;
                }
            }
        }
        .grid-index-footer{
            .redesSociales{
                a{
                    @include sizes(40px, 40px);
                    font-size: 0.5em;
                }
            }
        }
    }
    /*** POSTRES Y DULCES ***/
    .grid-categoria-body{
        .grid-categoria-main{
            .titulo__principal-postres{
                font-size: 2em;
            }
            .subtitulo__principal-postre{
                font-size: 1.5em;
            }
            .descripcion__principal-postres{
                font-size: 1.2em;
            }
        
            .card{
                display: flex;
                flex-direction: column;
                .card-cuerpo{
                    .card-titulo{
                        margin-left: 5%;
                        font-size: 2em !important;
                    }
                    .card-predescripcion{
                            margin-left: 5%;
                        font-size: 1.2em !important;
                    }
                    .card-descripcion{
                            margin-left: 5%;    
                        font-size: 1em !important;
                    }
                    .card-etiquetas{
                        margin-left: 5%;
                    }
                }
            }
            .card-etiqueta{
                #card-etiqueta-titulo{
                    font-size: 1.5em;
                }
            }
        }
        .grid-postres-aside{
            .div__recetasPopulares-container{
                .recetas-populares-titulo{
                }
                .grid-receta-popular{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
            .publicidades-container{
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

@media (max-width:530px){
    .grid-index-body{
        .grid-index-header{
            a{
                .header__logo{
                    width: 100%;
                    justify-content: center;
                    position: relative;
                    right: 5px;
                    .header__logo__container{
                        margin-left: 0;
                        width: 50px;
                    }
                    .header__logo__titulo{
                        min-width: fit-content;
                    }
                }
            }
            .header__search{
                width: 100%  ;
                justify-content: center;
                margin-bottom: 1em;
                input:nth-child(1){
                    display: none;
                }
                input:nth-child(2){
                    display: flex  ;
                }
                input:nth-child(2)::placeholder{
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    font-size: 14px;
                }
                .btn{
                    display: none;
                }
            }
        }
    }
}