@import "mixins";

@media(min-width: 1200px){
    /*** TIENDA ***/
    .grid-tienda-body{
        .grid-tienda-main{
            .articulos-destacados{
                .titulo-principal::after{
                    content: '───────';
                }
                .titulo-principal::before{
                    content: '───────';
                }
            }
            .articulos-principal{
                .titulo-catalogo::after{
                    content: '────────';
                }
                .titulo-catalogo::before{
                    content: '────────';
                }
            }
        }
    }
    /*** SOBRE MI***/
    .grid-sobremi-body{
        .grid-sobremi-main{
            .presentacion{
                .titulo-principal::after{
                    content: '───────';
                }
                .titulo-principal::before{
                    content: '───────';
                }
            }
            .creaciones{
                .title-creaciones::after{
                    content: '───────';
                }
                .title-creaciones::before{
                    content: '───────';
                }
            }
        }
    }
}

@media (max-width: 1200px){
    .grid-index-body{
        .grid-index-main{
            .grid-lista-recetas{
                display: grid;
                grid-template-columns: 30% 30% 30%;
                grid-template-rows: auto;
                grid-gap: 3vh 2.5%;
                margin-left: 5%;
                margin-top:  5vh;
            }
            .newsletter{
                h2{
                    font-size: 1.2em;
                }
            }
        }
        footer{
            p{
                font-size: 1.2em;
            }
        }
    }

    /*** CATEGORIAS ***/
    .grid-categoria-body{
        .grid-categoria-main{
            .card{
                .card-cuerpo{
                   .card-titulo{
                       font-size: 2em;
                   }
                   .card-predescripcion{
                       font-size: 1.5em;
                   }
                   .card-descripcion{
                       font-size: 1.2em;
                   }
                }
            }
            .card-etiqueta{
                .card-etiqueta-titulo{
                    font-size: 2em;
                }
            }
        }
        .grid-postres-aside{
            .div__recetasPopulares-container{
                .grid-receta-popular{
                    .receta-popular{
                        a{
                            .receta-popular-titulo{
                                width: 200px;
                            }
                        }
                    }
                }
            }
            .card-etiqueta{
                .card-etiqueta-titulo{
                    font-size: 1.8em;
                }
            }
    
            .newsletter{
                h2{
                    font-size: 1.2em;
                }
                .btn{
                    font-weight: 600;
                    font-size: 1.2em;
                }
            }
        }
    }

    /*** TIENDA ***/
    .grid-tienda-body{
        .grid-tienda-main{
            .articulos-destacados{
                .titulo-principal{
                    font-size:3em;
                }
                .titulo-principal::after{
                    content:'──────';
                }
                .titulo-principal::before{
                    content: '──────';
                }
            }
            .articulos-principal{
                .titulo-catalago{
                    font-size: 3em;
                }
                .titulo-catalogo::after{
                    content:'──────';
                }
                .titulo-catalogo::before{
                    content:'──────';
                }
                .grid-tienda{
                    grid-template-columns: 33% 33% 33%;
                    .card{
                        margin: auto;
                        margin-top: 3vh;
                    }
                }
            }
        }
    }

    /*** SOBRE MI***/
    .grid-sobremi-body{
        .grid-sobremi-main{
            .presentacion{
                .titulo-principal{
                    font-size: 3em;
                }
                .titulo-principal::after{
                    content: '─────';
                }
                .titulo-principal::before{
                    content: '─────';
                }
            }
            .creaciones{
                .title-creaciones{
                    font-size: 2em;
                }
                .title-creaciones::after{
                    content: '─────';
                }
                .title-creaciones::before{
                    content: '─────';
                }
            }
        }
    }
}

@media (max-width: 992px){
    .grid-index-body{
        .grid-index-main{
            .fondo_receta_destacada{
                .card_receta_destacada{
                    display: grid;
                    grid-template-columns: 100%;
                    grid-template-rows: auto;
                    grid-column-gap: 5%;
                    width: 70%;
                    height: 90%;
                    margin: 30px 0;
                    padding-right: 15px;
                    .cuerpo_card{
                        .pre_descripcion{
                            width: 90%;
                        }
                        .descripcion{
                            width: 90%;
                        }
                    }
                }
            }
            .newsletter{
                h2{
                    width: 50%;
                    font-size: 1.2em;
                }
                .btn{
                    margin-right: 1em;
                    padding-left: 1em;
                    padding-right: 1em;
                    .btn{
                        @include sizes(150px, 40px);
                    }
                }
            }
        }
        footer{
            .redesSociales{
                a{
                    @include sizes(60px, 60px);
                    font-size: 0.8em;
                }
            }
        }
    }
    /*** CATEGORIAS ***/

    .grid-categoria-body{
        width: 100%;
        display: grid;
        grid-template-areas: 
        "header"
        "main"
        "aside"
        "footer";
        grid-template-columns: 90%;
        grid-template-rows: repeat(4,auto);
        overflow-x: hidden;
        .grid-categoria-main{
            margin-left: 10%;
        }
        .grid-postres-aside{
            margin-left: 5%;
            .div__recetasPopulares-container{
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: auto auto;
                .recetas-populares-titulo{
                    width: 100%;
                }
                .grid-receta-popular{
                    display: grid;
                    grid-template-columns: repeat(3,33%);
                    grid-template-rows: auto;
                    .receta-popular{
                        width: 33%;
                        margin: auto;
                    }
                }
            }
            .publicidades-container{
                flex-direction: row;
                justify-content: space-evenly;
            }
        }
        .grid-categoria-footer{
            margin-left: 5%;
        }
    }

    /*** MEMBRESIAS ***/
    .grid-membresia-body{
        .grid-membresia-main{
            .flex-membresias-container{
                .tap-conteiner{
                    height: 160vh;
                    .group-card-membresia{
                        min-width: 100%;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin-top: 3vh;
                        .card-membresia{
                            width: 400px;
                            margin-top: 4vh;
                        }
                    }
                }      
            }
        }
    }
    /*** TIENDA ***/
    .grid-tienda-body{
        .grid-tienda-main{
            .articulos-destacados{
                .titulo-principal{
                    font-size:2.5em;
                }
                .titulo-principal::after{
                    content: '──────';
                }
                .titulo-principal::before{
                    content:'──────';
                }
                .flex-destacados{
                    .card{
                        .card-body{
                            .card-title{
                                font-size: 1.5em;
                            }
                            .card-text{
                                font-size:1.2em;
                            }
                        }
                    }
                }
            }
            .articulos-principal{
                .titulo-catalogo{
                    font-size: 2.5em;
                }
                .titulo-catalogo::after{
                    content:'─────';
                }
                .titulo-catalago::before{
                    content:'─────';
                }
                .grid-tienda{
                    grid-template-columns: 50% 50%;
                    .card{
                        margin: auto;
                        margin-top: 3vh;
                    }
                }
            }
        }
    }

    /*** SOBRE MI***/
    .grid-sobremi-body{
        .grid-sobremi-main{
            .presentacion{
                .titulo-principal{
                    font-size: 2.5em;
                }
                .titulo-principal::after{
                    content: '─────';
                }
                .titulo-principal::before{
                    content: '─────';
                }
            }
            .creaciones{
                .title-creaciones{
                    font-size: 1.5em;
                }
                .title-creaciones::after{
                    content: '────';
                }
                .title-creaciones::before{
                    content: '────';
                }
                .flex-creaciones{
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .img-creaciones{
                        margin-top: 3vh;
                    }
                }
            }
        }
    }

}

@media (min-width: 769px) and (max-width: 992px){
    .grid-index-body{
        .grid-index-header{
            .navbar{
                font-size: 1em;
                div{
                    ul{
                        li{
                            width: 25%;
                            margin-left: 0.5em;
                            ul{
                                li{
                                    margin-left: 35px;  
                                    font-size: 1em;
                                }
                            }
                        }
                    }
                }
            }
        }
        .grid-index-footer{
            p{
                font-size: 1.3em;
            }
        }
    }
}

@media (min-width: 577px) and (max-width: 768px){
    .grid-index-body{
        .grid-index-header{
            .header__search{
                .btn{
                    margin-right: 0.5em;
                }
            }
            .navbar{
                font-size: 1em;
                div{
                    ul{
                        li{
                            width: 25%;
                            margin-left: 0.5em;
                            .dropdown-menu{
                                .grid-menu-dropdown{
                                    li{
                                        margin-left: 35px;
                                        font-size: 0.8em;  
                                    }
                                }
                            }
                        }   
                    }
                }
            }
        }

        .grid-index-main{
            .fondo_receta_destacada{
                .card_receta_destacada{
                    padding-right: 15px;
                    .cuerpo_card{
                        .pre_descripcion{
                            width: 85%;
                        }
                        .descripcion{
                            width: 85%;
                        }
                    }
                }
            }
            .grid-lista-recetas{
                display: grid  ;
                grid-template-columns: 40% 40%;
                grid-template-rows: auto;
                grid-gap: 3vh 5%;
                margin-left: 12.5%;
                margin-top: 5vh;
            }
            .newsletter{
                h2{
                    width: 60%;
                }
                .btn{
                    position: relative;
                    top: 15px;
                    @include sizes(150px, 50px);
                }
            }
        }

        .grid-index-footer{
            p{
                font-size: 1.2em;
            }
        }
    }
    /*** CATEGORIAS ***/
    .grid-categoria-body{
        .grid-categoria-main{
            .card{
                width: 70%;
                display: flex;
                flex-direction: column;
                margin: auto;
                margin-top: 5vh;
                .card-cuerpo{
                    .card-titulo{
                        margin-left: 5%;
                    }
                    .card-predescripcion{
                        margin-left: 5%;
                    }
                    .card-descripcion{
                        margin-left: 5%;
                        width: 90%;
                    }
                    .card-etiquetas{
                        margin-left: 5%;
                    }
                }
            }
        }
        .grid-postres-aside{
            .div__recetasPopulares-container{
                .recetas-populares-titulo{
                }
                .grid-receta-popular{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
            .publicidades-container{
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
    /*** MEMBRESIA ***/
    .grid-membresia-body{
        .grid-membresia-main{
            .presentacion-membresia{
                .instancia, .descripcion{
                    font-size: 1.2em;
                }
                .titulo-principal{
                    font-size:2em;
                }
            }
            .tabla-comparativa{
                width: 90%;
            }
            .flex-membresias-container{
                .lbl-tap-menu{
                    width: 600px * 0.75;
                    height: 60px;
                    label, div{
                        font-size: 1.5em;
                    }
                    div{
                        position: relative;
                        top:7px;
                    }
                }
                .tap-conteiner{
                    margin: auto;
                    height: 160vh;
                    .marcado{
                        width: 200px * 0.75;
                        height: 60px;
                        top:-60px;
                    }
                    .group-card-membresia{
                        min-width: 100%;
                        .card-membresia{
                            width: 500px;
                        }
                    }
                    #radio1:checked ~ .marcado{
                        visibility: visible;
                        transform: translate(0px);
                    }
                    #radio2:checked ~ .marcado{
                        visibility: visible;
                        transform: translate(183px * 0.75);
                    }
                    #radio3:checked ~ .marcado{
                        visibility: visible;
                        transform: translate(400px * 0.75);
                    }
                }
            }
        }
    }
    /*** TIENDA ***/
    .grid-tienda-body{
        .grid-tienda-main{
            .articulos-destacados{
                .titulo-principal{
                    font-size:2.5em;
                }
                .titulo-principal::after{
                    content: '─────';
                }
                .titulo-principal::before{
                    content: '─────';
                }
                .flex-destacados{
                    .card{
                        .card-body{
                            .card-title{
                                font-size: 1.2em;
                            }
                            .card-text{
                                font-size:1em;
                            }
                        }
                    }
                }
            }
            .articulos-principal{
                .titulo-catalogo::after{
                    content:'────';
                }
                .titulo-catalogo::before{
                    content:'────';
                }
                .grid-tienda{
                grid-template-columns: 50% 50%;
                    .card{
                        margin: auto;
                        margin-top: 5vh;
                    }
                }
            }
            
        }
    }
    /*** SOBRE MI***/
    .grid-sobremi-body{
        .grid-sobremi-main{
            .presentacion{
                .titulo-principal{
                    font-size: 2.5em;
                }
                .titulo-principal::after{
                    content: '────';
                }
                .titulo-principal::before{
                    content: '────';
                }
            }
            .creaciones{
                .title-creaciones{
                    font-size: 1.5em;
                }
                .title-creaciones::after{
                    content: '────';
                }
                .title-creaciones::before{
                    content: '────';
                }
                .flex-creaciones{
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .img-creaciones{
                        margin-top: 3vh;
                    }
                }
            }
        }
    }
}

@media (max-width: 576px){
    .grid-index-body{
        .grid-index-header{
            a{
                .header__logo{
                    .header__logo__titulo{
                        font-size: 1.5em;
                        line-height: 2.2em;
                    }
                }
            }
            .header__search{
                .btn{
                    margin-right: 0.5em;
                }
                
            }
            .navbar{
                div{
                    ul{
                        margin-top: 10px;
                        li{
                            font-size: 0.8em;
                            a{
                                text-align: start;
                                display: block;
                                padding: 0;
                            }
                            .dropdown-menu{
                                width: fit-content;
                                #grid-menu-dropdow{
                                    width: fit-content;
                                    padding: 10px;
                                    display: flex;
                                    flex-direction: column;
                                    li{
                                        width: 100px;
                                        margin: 0; 
                                    }
                                }   
                            }
                        }
                    }
                }
            }
        }

        .grid-index-main{
            .marco{
                .btn-inicio-sesion{
                    width: 50px;
                    height: 50px;
                    margin-bottom: 150px;
                    .bi-person-circle{
                        font-size: 2em;
                    }
                }
            }
            .fondo_receta_destacada{
                .card_receta_destacada{
                    padding-right: 15px;
                    .cuerpo_card{
                        .pre_descripcion{
                            width: 85%;
                        }
                        .descripcion{
                            width: 85%;
                        }
                    }
                    .img_tarta_kiwi_container{
                        img{
                            position: relative;
                            left: 7.5px;
                        }
                    }
                }
            }
            .grid-lista-recetas{
                display: grid  ;
                grid-template-columns: 80%;
                grid-template-rows: auto;
                grid-row-gap: 5vh;
                margin-left: 17.5%;
                margin-top:  5vh;
            }
            .newsletter{
                h2{
                    font-size: 0.8em;
                }
                .btn{
                    @include sizes(150px, 50px);
                }
            }
        }
        .grid-index-footer{
            .redesSociales{
                a{
                    @include sizes(40px, 40px);
                    font-size: 0.5em;
                }
            }
        }
    }
    /*** CATEGORIAS ***/
    .grid-categoria-body{
        .grid-categoria-main{
            .titulo__principal-postres{
                font-size: 2em;
            }
            .subtitulo__principal-postre{
                font-size: 1.5em;
            }
            .descripcion__principal-postres{
                font-size: 1.2em;
            }
        
            .card{
                display: flex;
                flex-direction: column;
                .card-cuerpo{
                    .card-titulo{
                        margin-left: 5%;
                        font-size: 2em !important;
                    }
                    .card-predescripcion{
                        margin-left: 5%;
                        font-size: 1.2em !important;
                    }
                    .card-descripcion{
                        padding-right: 10px;
                        margin-left: 5%;    
                        font-size: 1em !important;
                    }
                    .card-etiquetas{
                        margin-left: 5%;
                    }
                }
            }
            .card-etiqueta{
                #card-etiqueta-titulo{
                    font-size: 1.5em;
                }
            }
        }
        .grid-postres-aside{
            .div__recetasPopulares-container{
                .recetas-populares-titulo{
                }
                .grid-receta-popular{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
            .publicidades-container{
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
    /*** MEMBRESIA ***/
    .grid-membresia-body{
        .grid-membresia-main{
            .tabla-comparativa{
                display: none;
            }
            .presentacion-membresia{
                .instancia, .descripcion{
                    font-size: 1em;
                }
                .titulo-principal{
                    font-size: 1.5em;
                }
            }
            
            .flex-membresias-container{
                .lbl-tap-menu{
                    width: 600px * 0.57;
                    height: 50px;
                    label, div{
                        font-size: 1.2em;
                    }
                    div{
                        position: relative;
                        top:10px;
                    }
                }
                .tap-conteiner{
                    margin: auto;
                    width: 100%;
                    height: 1600px;
                    .marcado{
                        width: 200px * 0.57;
                        height: 50px;
                        top:-50px;
                    }
                    .group-card-membresia{
                        min-width: 100%;
                        .card-membresia{
                            min-width: 300px;
                            width: 300px;
                            h2{
                                font-size: 2.5em;
                            }
                            ul{
                                font-size: 1em;
                            }
                        }
                    }
                    #radio1:checked ~ .marcado{
                        visibility: visible;
                        transform: translate(0px);
                    }
                    #radio2:checked ~ .marcado{
                        visibility: visible;
                        transform: translate(183px * 0.57);
                    }
                    #radio3:checked ~ .marcado{
                        visibility: visible;
                        transform: translate(400px * 0.57);
                    }
                }
            }
        }
    }
    /*** TIENDA ***/
    .grid-tienda-body{
        .grid-tienda-main{
            .articulos-destacados{
                .titulo-principal{
                    margin-top: 3vh;
                    font-size:2em;
                }
                .titulo-principal::before{
                    content: '────';
                }
                .titulo-principal::after{
                    content: '────';
                }
                .flex-destacados{
                    flex-direction: column;
                    .card{
                        margin: auto;
                        margin-top: 3vh;
                        .card-body{
                            .card-title{
                                font-size: 1.2em;
                            }
                            .card-text{
                                font-size:1em;
                            }
                        }
                    }
                }
            }
            .articulos-principal{
                .titulo-catalogo{
                    font-size: 1.8em;
                }
                .titulo-catalogo::after{
                    content:'─────';
                }
                .titulo-catalogo::before{
                    content:'─────';
                }
                .grid-tienda{
                    display: flex;
                    flex-direction: column;
                    .card{
                        margin: auto;
                        margin-top: 3vh;
                    }
                }
            }
        }
    }
    /*** SOBRE MI***/
    .grid-sobremi-body{
        .grid-sobremi-main{
            .presentacion{
                .titulo-principal{
                    font-size: 1.8em;
                }
                .titulo-principal::after{
                    content: '───';
                }
                .titulo-principal::before{
                    content: '───';
                }
                .body-presentacion{
                    display: flex;
                    flex-direction: column;
                    .text-presentacion{
                        font-size: 1.3em;
                    }
                    .img-presentacion{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        img{
                            width: 280px;
                        }
                    }
                }
            }
            .creaciones{
                .title-creaciones{
                    font-size: 1em;
                }
                .title-creaciones::after{
                    content: '─';
                }
                .title-creaciones::before{
                    content: '─';
                }
                .flex-creaciones{
                    flex-direction: column;
                    .img-creaciones{
                        margin-top: 2vh;
                    }
                }
            }
        }
    }
}

@media (max-width:530px){
    .grid-index-body{
        .grid-index-header{
            a{
                .header__logo{
                    width: 100%;
                    justify-content: center;
                    position: relative;
                    right: 5px;
                    .header__logo__container{
                        margin-left: 0;
                        width: 50px;
                    }
                    .header__logo__titulo{
                        min-width: fit-content;
                    }
                }
            }
            .header__search{
                width: 100%  ;
                justify-content: center;
                margin-bottom: 1em;
                input:nth-child(1){
                    display: none;
                }
                input:nth-child(2){
                    display: flex  ;
                }
                input:nth-child(2)::placeholder{
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    font-size: 14px;
                }
                .btn{
                    display: none;
                }
            }
        }
    }
}