$titulo-logo: 2em;
$item-menu: 1.2em;

.grid-index-body{
    .grid-index-header{
        a{
            .header__logo{
                .header__logo__titulo{
                    font-size: $titulo-logo;
                }
            }
        }
        .navbar{
            font-size: $item-menu;
            div{
                ul{
                    li{
                        a{
                            font-size: $item-menu;
                            font-family: 'Roboto', sans-serif;
                        }
                        .dropdown-menu{
                            li{
                                font-size: 1em;
                            }
                        }
                    }
                }
            }
        }
    }

    main{
        .fondo_receta_destacada{
            .card_receta_destacada{
                .cuerpo_card{
                    .categoria_card{
                        font-size: 1.5em;
                    }
                    .titulo_card{
                        font-size: 2em;     
                    }
                    .pre_descripcion{
                        font-size: 1.2em;
                    }
                    .descripcion{
                        font-size: 1em;
                    }

                }
            
            }
        }

        .grid-lista-recetas{
            .card{
                .card-body{
                    .card-title{
                        font-size: 1.5em;
                    }
                    .btn{
                        font-size: 1.2em;
                    }
                }
            }
        }

        .newsletter{
            h2{
                font-size: 1.5em;
            }
            .btn{
                font-weight: 600;
                font-size: 1.5em;
            }
        }
    }

    .grid-index-footer{
        p{
            font-size: 1.3em;
        }
        div{
            a{
                .bi-facebook{
                    font-size: 3em;
                }
                .bi-instagram{
                    @extend .bi-facebook;
                }
                .bi-whatsapp{
                    @extend .bi-facebook;
                }
            }
        }
    }
}

/*** POSTRES Y DULCES ***/

.grid-categoria-body{
    .grid-categoria-main{
        .titulo__principal-postres{
            font-size: 3em;
        }
        .subtitulo__principal-postres{
            font-size: 1.5em;
            line-height: 0;
        }
        .descripcion__principal-postres{
            font-size: 1.2em;
        }

        .card{
            .card-cuerpo{
               .card-titulo{
                   font-size: 2.5em;
                   line-height: 1em;
               }
               .card-predescripcion{
                   font-size: 1.8em;
               }
               .card-descripcion{
                   font-size: 1.5em;
               }
            }
        }
        .card-etiqueta{
            .card-etiqueta-titulo{
                font-size: 3em;
                line-height: 0;
            }
            .card-etiquetas-container{
                a{
                    font-size: 1.2em;
                }
            }

        }
    }

    .grid-postres-aside{
        .div__recetasPopulares-container{
            .recetas-populares-titulo{
                font-size: 2em;
            }
            .grid-receta-popular{
                .receta-popular{
                    a{
                        .receta-popular-titulo{
                            font-size: 1.3em;
                        }
                    }
                }
            }
        }
        .card-etiqueta{
            .card-etiqueta-titulo{
                font-size: 2em;
                line-height: 0;
            }
            .card-etiquetas-container{
                a{
                    font-size: 1.2em;
                }
            }

        }

        .newsletter{
            h2{
                font-size: 1.5em;
            }
            .btn{
                font-weight: 600;
                font-size: 1.5em;
            }
        }
    }
}
.grid-membresia-body{
    .grid-membresia-main{
        .presentacion-membresia{
            margin-top: 5vh;
            .instancia ,.descripcion{
                font-size: 1.8em;
            }
            .titulo-principal{
                font-weight: 900;
                font-size: 3em;
            }
        }
        .tabla-comparativa{
            .table{
                thead{
                    tr{
                        th{
                            font-size: 1.5em;
                        }
                    }
                }
                tbody{
                    tr{
                        th{
                            font-size: 1.2em;
                        }
                        td{
                            font-size: 1.5em;
                        }
                    }
                }
            }
        }
        .flex-membresias-container{
            .lbl-tap-menu{
                label, div{
                    font-weight: 900;
                    font-size: 2em;
                }
            }
            .tap-conteiner{
                .group-card-membresia{
                    .card-membresia{
                        h2{
                            font-weight: 700;
                            font-size: 3em;
                        }
                        span{
                            font-weight: 900;
                            font-size: 2.5em;
                        }
                        ul{
                            font-size: 1.5em;
                            li{
                                .bi-plus{
                                    font-size: 1.5em;
                                    line-height: 0;
                                }
                            }
                        }
                        a{
                            font-weight: 800;
                            font-size: 1.5em;
                        }
                    }
                }
            }
        }
    }
}

/*** TIENDA ***/

.grid-tienda-body{
    .grid-tienda-main{
        .articulos-destacados{
            .titulo-principal{
                font-size: 4em;
            }
            .flex-destacados{
                .card{
                    .card-title{
                        font-size: 1.8em;
                    }
                    .card-text{
                        font-size: 1.5em;
                        font-weight: 500;
                    }
                    .card-btn{
                        .btn{
                            font-size: 1.2em;
                        }
                    }
                    .etiqueta-oferta{
                        font-size: 1.2em;
                        font-weight: 600;
                    }
                }
            }  
        }
        .articulos-principal{
            .titulo-catalogo{
                font-size: 4em;
            }
            .grid-tienda{
                .card{
                    .card-body{
                        .card-title{
                            font-size: 1.8em;
                        }
                        .card-text{
                            font-size: 1.5em;
                            font-weight: 500;
                        }
                        .card-btn{
                            .btn{
                                 font-size: 1.2em;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*** SOBRE MI ***/

.grid-sobremi-body{
    .grid-sobremi-main{
        .presentacion{
            .titulo-principal{
                font-size: 4em;
            }
            .body-presentacion{
                .text-presentacion{
                   font-size: 2em; 
                }
            }
        }
        .creaciones{
            font-size: 2.5em;
        }
    }
}